<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ontimedeliv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ontimedeliv.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ontimedeliv.NavigationActivity"
            android:label="@string/title_activity_navigation" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.CategoriesActivity"
            android:label="@string/title_activity_categories" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.BranchesActivity"
            android:label="@string/title_activity_branches" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddBranchActivity"
            android:label="@string/title_activity_add_branch" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.SelectionActivity"
            android:label="@string/title_activity_selection" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddLocationDetails"
            android:label="@string/add_country" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.UsersActivity"
            android:label="@string/title_activity_users" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddCategoryActivity"
            android:label="@string/title_activity_add_category" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.OrdersActivity"
            android:label="@string/title_activity_orders" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>
