<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ontimedeliv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name=".ontimedeliv"
        android:allowBackup="true"
        android:icon="@drawable/moto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName="BranchesActivity"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="BranchesActivity"
            android:label="@string/title_activity_branches"
            android:parentActivityName="NavigationActivity"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="AddBranchActivity"
            android:label="@string/title_activity_add_branch"
            android:parentActivityName="BranchesActivity"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="SelectionActivity"
            android:label="@string/title_activity_selection"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="AddLocationDetails"
            android:label="@string/add_country"
            android:windowSoftInputMode="adjustNothing" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="UsersActivity"
            android:label="@string/title_activity_users"
            android:parentActivityName="NavigationActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName="UsersActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="OrderInfoActivity"
            android:label="@string/title_activity_order_info"
            android:parentActivityName="OrdersActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="OrdersActivity"
            android:label="@string/title_activity_orders"
            android:parentActivityName="NavigationActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="ProductsActivity"
            android:label="@string/title_activity_product"
            android:parentActivityName="CategoriesActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="ProductInfoActivity"
            android:label="@string/title_activity_add_product"
            android:parentActivityName="ProductsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="ForgotPasswordActivity"
            android:label="@string/title_activity_old_orders"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="OldOrdersInfoActivity"
            android:label="@string/title_activity_old_orders_info"
            android:parentActivityName="OrdersActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
        </activity>
        <activity
            android:name="UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="SelectLanguageActivity"
            android:label="Select language" >
        </activity>
    </application>

</manifest>