<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ontimedeliv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.ontimedeliv.ontimedeliv"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:process="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.example.ontimedeliv.SplashScreenActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ontimedeliv.LoginActivity"
            android:icon="@drawable/moto"
            android:label="@string/buttonlogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.NavigationActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.CategoriesActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_categories"
            android:parentActivityName="BranchesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.BranchesActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_branches"
            android:parentActivityName="NavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddBranchActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_add_branch"
            android:parentActivityName="BranchesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.SelectionActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_selection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddLocationDetails"
            android:icon="@drawable/moto"
            android:label="@string/add_country"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.example.ontimedeliv.UsersActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_users"
            android:parentActivityName="NavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.UserInfoActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_user_info"
            android:parentActivityName="UsersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.AddCategoryActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_add_category"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.OrderInfoActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_order_info"
            android:parentActivityName="OrdersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.OrdersActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_orders"
            android:parentActivityName="NavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.ProductsActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_product"
            android:parentActivityName="CategoriesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.ProductInfoActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_add_product"
            android:parentActivityName="ProductsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.ForgotPasswordActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_old_orders"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.SearchResultsActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_search_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.UserProfileActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.SelectLanguageActivity"
            android:icon="@drawable/moto"
            android:label="Select language"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.ontimedeliv.BlockUser"
            android:label="@string/title_activity_block_user" >
        </activity>
    </application>

</manifest>